In [1]:
# Import our dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# Import and read in the data file
import codecs
f=codecs.open("sample_dataset.csv", "r", "ISO-8859-1")
f

In [3]:
# Read in the data file
df1=pd.read_csv(f)
df1

,Unnamed: 0,Country,Year,Personal,Business,Birth Rate,CO2 Emissions,Energy Usage,GDP,Health Exp % GDP,...,Life Expectancy Female,Life Expectancy Male,Mobile Phone Usage,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
0,0,albania,2000,218,77,0.019,3022,1763,3.686649e+09,0.064,...,77,71,0.0,0.303,0.628,0.068,3089027,0.417,398000000,290000000
1,1,algeria,2000,81,117,0.020,87931,26998,5.479006e+10,0.035,...,71,67,0.0,0.342,0.619,0.039,31719449,0.599,102000000,193000000
2,2,angola,2000,46,5,0.050,9542,7499,9.129595e+09,0.034,...,47,44,0.0,0.476,0.499,0.025,13924930,0.324,34000000,146000000
3,3,argentina,2000,41,35,0.019,141077,60954,3.442730e+11,0.092,...,78,70,0.2,0.279,0.621,0.099,36903067,0.891,3195000000,5460000000
4,4,armenia,2000,41,4,0.013,3465,2015,1.911564e+09,0.063,...,75,68,0.0,0.259,0.641,0.100,3076098,0.647,52000000,56000000
5,5,australia,2000,4080,851,0.013,329605,108110,4.152080e+11,0.081,...,82,77,0.4,0.207,0.669,0.124,19153000,0.872,13016000000,8780000000
6,6,austria,2000,62,56,0.010,63696,28558,1.920710e+11,0.100,...,81,75,0.8,0.170,0.675,0.155,8011566,0.658,11382000000,7001000000
7,7,azerbaijan,2000,75,606,0.015,29508,11296,5.272617e+09,0.047,...,70,64,0.1,0.311,0.633,0.056,8048600,0.514,68000000,138000000
8,8,bahrain,2000,3610,259,0.021,18643,5865,9.063148e+09,0.035,...,76,74,0.3,0.308,0.667,0.024,668239,0.884,854000000,425000000
9,9,bosnia and herzegovina,2000,111,49,0.010,23223,4346,5.505984e+09,0.071,...,77,72,0.0,0.202,0.691,0.107,3834364,0.393,246000000,92000000
10,10,botswana,2000,961,143,0.027,4276,1836,5.788312e+09,0.047,...,52,49,0.1,0.383,0.587,0.029,1755375,0.532,227000000,209000000
11,11,brazil,2000,3833,1480,0.021,327984,187442,6.447020e+11,0.072,...,74,67,0.1,0.296,0.649,0.055,174504898,0.812,1969000000,4548000000
12,12,bulgaria,2000,4744,178,0.009,43531,18688,1.290355e+10,0.062,...,75,68,0.1,0.157,0.677,0.166,8170172,0.689,1364000000,764000000
13,13,cambodia,2000,304,47,0.028,1977,3412,3.654032e+09,0.063,...,65,59,0.0,0.408,0.554,0.038,12222871,0.186,345000000,52000000
14,14,canada,2000,16712,2842,0.011,534484,251450,7.394560e+11,0.088,...,82,77,0.3,0.192,0.683,0.125,30769700,0.795,13035000000,15125000000
15,15,chile,2000,1494,248,0.017,58694,25174,7.932864e+10,0.077,...,80,74,0.2,0.278,0.650,0.072,15454402,0.861,1179000000,904000000
16,16,china,2000,52,17,0.014,3405180,1161353,1.198470e+12,0.046,...,74,71,0.1,0.256,0.675,0.069,1262645000,0.359,17318000000,14169000000
17,17,dominican republic,2000,2855,117,0.025,20117,7499,2.399666e+10,0.063,...,74,68,0.1,0.349,0.599,0.051,8663421,0.617,2860000000,440000000
18,18,ecuador,2000,14,46,0.025,20942,7815,1.832739e+10,0.036,...,76,71,0.0,0.345,0.604,0.051,12533087,0.603,451000000,416000000
19,19,eritrea,2000,49,21,0.040,609,708,7.063708e+08,0.045,...,58,54,0.3,0.470,0.512,0.018,3939348,0.176,36000000,316000000
20,20,estonia,2000,2549,761,0.010,15181,4715,5.675698e+09,0.053,...,76,65,0.4,0.180,0.669,0.152,1396985,0.694,657000000,253000000
21,21,ethiopia,2000,74,35,0.044,5831,25242,8.091385e+09,0.043,...,53,51,0.0,0.466,0.503,0.031,66024199,0.147,205000000,80000000
22,22,finland,2000,2527,1262,0.011,52141,32233,1.217940e+11,0.072,...,81,74,0.7,0.182,0.669,0.149,5176209,0.822,2035000000,2293000000
23,23,france,2000,162,356,0.013,365560,251981,1.326330e+12,0.101,...,83,75,0.5,0.189,0.650,0.160,60911057,0.759,38534000000,26703000000
24,24,guatemala,2000,123,124,0.037,9916,7041,1.929057e+10,0.056,...,71,64,0.1,0.441,0.519,0.040,11204183,0.451,498000000,216000000
25,25,haiti,2000,154,178,0.031,1368,2010,3.664504e+09,0.061,...,59,56,0.0,0.403,0.557,0.040,8578234,0.356,128000000,173000000
26,26,honduras,2000,402,69,0.032,5031,2990,7.105530e+09,0.066,...,73,68,0.0,0.424,0.537,0.039,6235561,0.455,263000000,198000000
27,27,hungary,2000,88,80,0.010,57238,24999,4.638559e+10,0.072,...,76,67,0.3,0.168,0.680,0.151,10210971,0.646,3809000000,1722000000
28,28,iceland,2000,172,219,0.014,2164,3100,8.697298e+09,0.095,...,82,78,0.8,0.233,0.651,0.116,281205,0.924,386000000,471000000
29,29,india,2000,2043,110,0.026,1186663,457198,4.766090e+11,0.043,...,63,61,0.0,0.342,0.614,0.044,1042261758,0.277,3598000000,3686000000
30,30,indonesia,2000,2971,2093,0.022,263419,154768,1.650210e+11,0.020,...,69,65,0.0,0.307,0.647,0.047,208938698,0.420,4975000000,3197000000

In [4]:
# Drop null values
df1.dropna()

,Unnamed: 0,Country,Year,Personal,Business,Birth Rate,CO2 Emissions,Energy Usage,GDP,Health Exp % GDP,...,Life Expectancy Female,Life Expectancy Male,Mobile Phone Usage,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
0,0,albania,2000,218,77,0.019,3022,1763,3.686649e+09,0.064,...,77,71,0.0,0.303,0.628,0.068,3089027,0.417,398000000,290000000
1,1,algeria,2000,81,117,0.020,87931,26998,5.479006e+10,0.035,...,71,67,0.0,0.342,0.619,0.039,31719449,0.599,102000000,193000000
2,2,angola,2000,46,5,0.050,9542,7499,9.129595e+09,0.034,...,47,44,0.0,0.476,0.499,0.025,13924930,0.324,34000000,146000000
3,3,argentina,2000,41,35,0.019,141077,60954,3.442730e+11,0.092,...,78,70,0.2,0.279,0.621,0.099,36903067,0.891,3195000000,5460000000
4,4,armenia,2000,41,4,0.013,3465,2015,1.911564e+09,0.063,...,75,68,0.0,0.259,0.641,0.100,3076098,0.647,52000000,56000000
5,5,australia,2000,4080,851,0.013,329605,108110,4.152080e+11,0.081,...,82,77,0.4,0.207,0.669,0.124,19153000,0.872,13016000000,8780000000
6,6,austria,2000,62,56,0.010,63696,28558,1.920710e+11,0.100,...,81,75,0.8,0.170,0.675,0.155,8011566,0.658,11382000000,7001000000
7,7,azerbaijan,2000,75,606,0.015,29508,11296,5.272617e+09,0.047,...,70,64,0.1,0.311,0.633,0.056,8048600,0.514,68000000,138000000
8,8,bahrain,2000,3610,259,0.021,18643,5865,9.063148e+09,0.035,...,76,74,0.3,0.308,0.667,0.024,668239,0.884,854000000,425000000
9,9,bosnia and herzegovina,2000,111,49,0.010,23223,4346,5.505984e+09,0.071,...,77,72,0.0,0.202,0.691,0.107,3834364,0.393,246000000,92000000
10,10,botswana,2000,961,143,0.027,4276,1836,5.788312e+09,0.047,...,52,49,0.1,0.383,0.587,0.029,1755375,0.532,227000000,209000000
11,11,brazil,2000,3833,1480,0.021,327984,187442,6.447020e+11,0.072,...,74,67,0.1,0.296,0.649,0.055,174504898,0.812,1969000000,4548000000
12,12,bulgaria,2000,4744,178,0.009,43531,18688,1.290355e+10,0.062,...,75,68,0.1,0.157,0.677,0.166,8170172,0.689,1364000000,764000000
13,13,cambodia,2000,304,47,0.028,1977,3412,3.654032e+09,0.063,...,65,59,0.0,0.408,0.554,0.038,12222871,0.186,345000000,52000000
14,14,canada,2000,16712,2842,0.011,534484,251450,7.394560e+11,0.088,...,82,77,0.3,0.192,0.683,0.125,30769700,0.795,13035000000,15125000000
15,15,chile,2000,1494,248,0.017,58694,25174,7.932864e+10,0.077,...,80,74,0.2,0.278,0.650,0.072,15454402,0.861,1179000000,904000000
16,16,china,2000,52,17,0.014,3405180,1161353,1.198470e+12,0.046,...,74,71,0.1,0.256,0.675,0.069,1262645000,0.359,17318000000,14169000000
17,17,dominican republic,2000,2855,117,0.025,20117,7499,2.399666e+10,0.063,...,74,68,0.1,0.349,0.599,0.051,8663421,0.617,2860000000,440000000
18,18,ecuador,2000,14,46,0.025,20942,7815,1.832739e+10,0.036,...,76,71,0.0,0.345,0.604,0.051,12533087,0.603,451000000,416000000
19,19,eritrea,2000,49,21,0.040,609,708,7.063708e+08,0.045,...,58,54,0.3,0.470,0.512,0.018,3939348,0.176,36000000,316000000
20,20,estonia,2000,2549,761,0.010,15181,4715,5.675698e+09,0.053,...,76,65,0.4,0.180,0.669,0.152,1396985,0.694,657000000,253000000
21,21,ethiopia,2000,74,35,0.044,5831,25242,8.091385e+09,0.043,...,53,51,0.0,0.466,0.503,0.031,66024199,0.147,205000000,80000000
22,22,finland,2000,2527,1262,0.011,52141,32233,1.217940e+11,0.072,...,81,74,0.7,0.182,0.669,0.149,5176209,0.822,2035000000,2293000000
23,23,france,2000,162,356,0.013,365560,251981,1.326330e+12,0.101,...,83,75,0.5,0.189,0.650,0.160,60911057,0.759,38534000000,26703000000
24,24,guatemala,2000,123,124,0.037,9916,7041,1.929057e+10,0.056,...,71,64,0.1,0.441,0.519,0.040,11204183,0.451,498000000,216000000
25,25,haiti,2000,154,178,0.031,1368,2010,3.664504e+09,0.061,...,59,56,0.0,0.403,0.557,0.040,8578234,0.356,128000000,173000000
26,26,honduras,2000,402,69,0.032,5031,2990,7.105530e+09,0.066,...,73,68,0.0,0.424,0.537,0.039,6235561,0.455,263000000,198000000
27,27,hungary,2000,88,80,0.010,57238,24999,4.638559e+10,0.072,...,76,67,0.3,0.168,0.680,0.151,10210971,0.646,3809000000,1722000000
28,28,iceland,2000,172,219,0.014,2164,3100,8.697298e+09,0.095,...,82,78,0.8,0.233,0.651,0.116,281205,0.924,386000000,471000000
29,29,india,2000,2043,110,0.026,1186663,457198,4.766090e+11,0.043,...,63,61,0.0,0.342,0.614,0.044,1042261758,0.277,3598000000,3686000000
30,30,indonesia,2000,2971,2093,0.022,263419,154768,1.650210e+11,0.020,...,69,65,0.0,0.307,0.647,0.047,208938698,0.420,4975000000,3197000000

In [5]:
df1.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Personal', 'Business', 'Birth Rate',
       'CO2 Emissions', 'Energy Usage', 'GDP', 'Health Exp % GDP',
       'Health Exp/Capita', 'Infant Mortality Rate', 'Internet Usage',
       'Lending Interest', 'Life Expectancy Female', 'Life Expectancy Male',
       'Mobile Phone Usage', 'Population 0-14', 'Population 15-64',
       'Population 65+', 'Population Total', 'Population Urban',
       'Tourism Inbound', 'Tourism Outbound'],
      dtype='object')

In [6]:
df1.drop(['Unnamed: 0'], axis=1, inplace=True)

In [7]:
df1.dtypes

Country                    object
Year                        int64
Personal                    int64
Business                    int64
Birth Rate                float64
CO2 Emissions               int64
Energy Usage                int64
GDP                       float64
Health Exp % GDP          float64
Health Exp/Capita           int64
Infant Mortality Rate     float64
Internet Usage            float64
Lending Interest          float64
Life Expectancy Female      int64
Life Expectancy Male        int64
Mobile Phone Usage        float64
Population 0-14           float64
Population 15-64          float64
Population 65+            float64
Population Total            int64
Population Urban          float64
Tourism Inbound             int64
Tourism Outbound            int64
dtype: object

In [8]:
df1['Personal'] = pd.to_numeric(df1['Personal'])
df1['Business'] = pd.to_numeric(df1['Business'])

In [9]:
df1.dtypes

Country                    object
Year                        int64
Personal                    int64
Business                    int64
Birth Rate                float64
CO2 Emissions               int64
Energy Usage                int64
GDP                       float64
Health Exp % GDP          float64
Health Exp/Capita           int64
Infant Mortality Rate     float64
Internet Usage            float64
Lending Interest          float64
Life Expectancy Female      int64
Life Expectancy Male        int64
Mobile Phone Usage        float64
Population 0-14           float64
Population 15-64          float64
Population 65+            float64
Population Total            int64
Population Urban          float64
Tourism Inbound             int64
Tourism Outbound            int64
dtype: object

In [12]:
# Creating new columns for the percentage of type of Tourism
df1['Personal Percentage'] = df1.apply(lambda row: (row.Personal/(row.Personal+row.Business))*100, axis = 1) 
df1['Business Percentage'] = df1.apply(lambda row: (row.Business/(row.Personal+row.Business))*100, axis = 1)

In [13]:
df1.head()

,Country,Year,Personal,Business,Birth Rate,CO2 Emissions,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,...,Mobile Phone Usage,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound,Personal Percentage,Business Percentage
0,albania,2000,218,77,0.019,3022,1763,3.686649e+09,0.064,70,...,0.0,0.303,0.628,0.068,3089027,0.417,398000000,290000000,73.898305,26.101695
1,algeria,2000,81,117,0.020,87931,26998,5.479006e+10,0.035,60,...,0.0,0.342,0.619,0.039,31719449,0.599,102000000,193000000,40.909091,59.090909
2,angola,2000,46,5,0.050,9542,7499,9.129595e+09,0.034,22,...,0.0,0.476,0.499,0.025,13924930,0.324,34000000,146000000,90.196078,9.803922
3,argentina,2000,41,35,0.019,141077,60954,3.442730e+11,0.092,710,...,0.2,0.279,0.621,0.099,36903067,0.891,3195000000,5460000000,53.947368,46.052632
4,armenia,2000,41,4,0.013,3465,2015,1.911564e+09,0.063,39,...,0.0,0.259,0.641,0.100,3076098,0.647,52000000,56000000,91.111111,8.888889

In [14]:
def pop_tourism(x):
    if x >= 50:
        return 'Personal'
    else:
        return 'Business'

In [15]:
df1['Most Tourism'] = df1['Personal Percentage'].apply(pop_tourism)
df1.head()

,Country,Year,Personal,Business,Birth Rate,CO2 Emissions,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,...,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound,Personal Percentage,Business Percentage,Most Tourism
0,albania,2000,218,77,0.019,3022,1763,3.686649e+09,0.064,70,...,0.303,0.628,0.068,3089027,0.417,398000000,290000000,73.898305,26.101695,Personal
1,algeria,2000,81,117,0.020,87931,26998,5.479006e+10,0.035,60,...,0.342,0.619,0.039,31719449,0.599,102000000,193000000,40.909091,59.090909,Business
2,angola,2000,46,5,0.050,9542,7499,9.129595e+09,0.034,22,...,0.476,0.499,0.025,13924930,0.324,34000000,146000000,90.196078,9.803922,Personal
3,argentina,2000,41,35,0.019,141077,60954,3.442730e+11,0.092,710,...,0.279,0.621,0.099,36903067,0.891,3195000000,5460000000,53.947368,46.052632,Personal
4,armenia,2000,41,4,0.013,3465,2015,1.911564e+09,0.063,39,...,0.259,0.641,0.100,3076098,0.647,52000000,56000000,91.111111,8.888889,Personal

In [16]:
# Separate the Features (X) from the Target (y)
y = df1["Most Tourism"]
X = df1.drop(columns=["Most Tourism", 'Country', 'Year'])

In [17]:
# Split our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=2, 
                                                    stratify=y)
X_train.shape

(23, 23)

In [18]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [19]:
# Fit (train) or model using the training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [20]:
# Make predictions
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

  Prediction    Actual
0   Personal  Personal
1   Personal  Personal
2   Personal  Personal
3   Personal  Personal
4   Personal  Business
5   Personal  Personal
6   Business  Personal
7   Personal  Business

In [21]:
# Print the accuracy score
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.625