In [1]:
#Import our dependencies.
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
import codecs
file_path1 = codecs.open("clean_inbound_data_thousands.csv", "r", "ISO-8859-1")
file_path2 = codecs.open("clean_world_ind.csv", "r", "ISO-8859-1")

In [3]:
inbound_data_df = pd.read_csv(file_path1)
inbound_data_df.head()

,Unnamed: 0,Country,Year,Personal,Business,Total,Africa,Americas,East Asia and Pacific,Europe,Middle East,South Asia,Other not Classified
0,3,american samoa,1995,28.0,6.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,angola,1995,6.0,3.0,9.0,2.0,1.0,0.0,6.0,0.0,0.0,0.0
2,6,anguilla,1995,104.8,2.3,107.1,0.0,35.0,0.0,2.0,0.0,0.0,1.0
3,7,antigua and barbuda,1995,186.0,5.0,191.0,0.0,124.0,0.0,84.0,0.0,0.0,4.0
4,9,armenia,1995,10.0,2.0,12.0,0.0,2.0,0.0,8.0,0.0,1.0,0.0

In [4]:
inbound_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3667 entries, 0 to 3666
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             3667 non-null   int64
 1   Country                3667 non-null   object
 2   Year                   3667 non-null   int64
 3   Personal               3667 non-null   float64
 4   Business               3667 non-null   float64
 5   Total                  3667 non-null   float64
 6   Africa                 3667 non-null   float64
 7   Americas               3667 non-null   float64
 8   East Asia and Pacific  3667 non-null   float64
 9   Europe                 3667 non-null   float64
 10  Middle East            3667 non-null   float64
 11  South Asia             3667 non-null   float64
 12  Other not Classified   3667 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 372.6+ KB

In [5]:
world_ind_df = pd.read_csv(file_path2)
world_ind_df.head()

,Unnamed: 0,Birth Rate,Country,GDP,Health Exp % GDP,Health Exp/Capita,Infant Mortality Rate,Internet Usage,Life Expectancy Female,Life Expectancy Male,...,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Region,Tourism Inbound,Tourism Outbound,Year,Header
0,0,0.020,algeria,5.479006e+10,0.035,60.0,0.034,0.0,71.0,67.0,...,0.342,0.619,0.039,31719449,0.599,Africa,102000000.0,193000000.0,2000,Data
1,1,0.050,angola,9.129595e+09,0.034,22.0,0.128,0.0,47.0,44.0,...,0.476,0.499,0.025,13924930,0.324,Africa,34000000.0,146000000.0,2000,Data
2,2,0.043,benin,2.359122e+09,0.043,15.0,0.090,0.0,57.0,53.0,...,0.454,0.517,0.029,6949366,0.383,Africa,77000000.0,50000000.0,2000,Data
3,3,0.027,botswana,5.788312e+09,0.047,152.0,0.054,0.0,52.0,49.0,...,0.383,0.587,0.029,1755375,0.532,Africa,227000000.0,209000000.0,2000,Data
4,4,0.046,burkina faso,2.610959e+09,0.051,12.0,0.096,0.0,52.0,49.0,...,0.468,0.505,0.028,11607944,0.178,Africa,23000000.0,30000000.0,2000,Data

In [6]:
world_ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              2704 non-null   int64
 1   Birth Rate              2585 non-null   float64
 2   Country                 2704 non-null   object
 3   GDP                     2494 non-null   float64
 4   Health Exp % GDP        2395 non-null   float64
 5   Health Exp/Capita       2395 non-null   float64
 6   Infant Mortality Rate   2444 non-null   float64
 7   Internet Usage          2531 non-null   float64
 8   Life Expectancy Female  2568 non-null   float64
 9   Life Expectancy Male    2568 non-null   float64
 10  Mobile Phone Usage      2537 non-null   float64
 11  Number of Records       2704 non-null   int64
 12  Population 0-14         2484 non-null   float64
 13  Population 15-64        2484 non-null   float64
 14  Population 65+          2484 non-null   float64
 15  Population Total        2704 non-null   int64
 16  Population Urban        2678 non-null   float64
 17  Region                  2704 non-null   object
 18  Tourism Inbound         2336 non-null   float64
 19  Tourism Outbound        2233 non-null   float64
 20  Year                    2704 non-null   int64
 21  Header                  2704 non-null   object
dtypes: float64(15), int64(4), object(3)
memory usage: 464.9+ KB

In [7]:
#Drop Unnamed:0 Column.
inbound_data_df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [8]:
world_ind_df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [9]:
inbound_data_df.dtypes

Country                   object
Year                       int64
Personal                 float64
Business                 float64
Total                    float64
Africa                   float64
Americas                 float64
East Asia and Pacific    float64
Europe                   float64
Middle East              float64
South Asia               float64
Other not Classified     float64
dtype: object

In [10]:
world_ind_df.dtypes

Birth Rate                float64
Country                    object
GDP                       float64
Health Exp % GDP          float64
Health Exp/Capita         float64
Infant Mortality Rate     float64
Internet Usage            float64
Life Expectancy Female    float64
Life Expectancy Male      float64
Mobile Phone Usage        float64
Number of Records           int64
Population 0-14           float64
Population 15-64          float64
Population 65+            float64
Population Total            int64
Population Urban          float64
Region                     object
Tourism Inbound           float64
Tourism Outbound          float64
Year                        int64
Header                     object
dtype: object

In [11]:
data_df = pd.merge(inbound_data_df, world_ind_df, on=["Country", "Year"], how="outer")
data_df.head()

,Country,Year,Personal,Business,Total,Africa,Americas,East Asia and Pacific,Europe,Middle East,...,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Region,Tourism Inbound,Tourism Outbound,Header
0,american samoa,1995,28.0,6.0,34.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,angola,1995,6.0,3.0,9.0,2.0,1.0,0.0,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,anguilla,1995,104.8,2.3,107.1,0.0,35.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,antigua and barbuda,1995,186.0,5.0,191.0,0.0,124.0,0.0,84.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,armenia,1995,10.0,2.0,12.0,0.0,2.0,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4780 entries, 0 to 4779
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 4780 non-null   object
 1   Year                    4780 non-null   int64
 2   Personal                3667 non-null   float64
 3   Business                3667 non-null   float64
 4   Total                   3667 non-null   float64
 5   Africa                  3667 non-null   float64
 6   Americas                3667 non-null   float64
 7   East Asia and Pacific   3667 non-null   float64
 8   Europe                  3667 non-null   float64
 9   Middle East             3667 non-null   float64
 10  South Asia              3667 non-null   float64
 11  Other not Classified    3667 non-null   float64
 12  Birth Rate              2585 non-null   float64
 13  GDP                     2494 non-null   float64
 14  Health Exp % GDP        2395 non-null   float64
 15  Health Exp/Capita       2395 non-null   float64
 16  Infant Mortality Rate   2444 non-null   float64
 17  Internet Usage          2531 non-null   float64
 18  Life Expectancy Female  2568 non-null   float64
 19  Life Expectancy Male    2568 non-null   float64
 20  Mobile Phone Usage      2537 non-null   float64
 21  Number of Records       2704 non-null   float64
 22  Population 0-14         2484 non-null   float64
 23  Population 15-64        2484 non-null   float64
 24  Population 65+          2484 non-null   float64
 25  Population Total        2704 non-null   float64
 26  Population Urban        2678 non-null   float64
 27  Region                  2704 non-null   object
 28  Tourism Inbound         2336 non-null   float64
 29  Tourism Outbound        2233 non-null   float64
 30  Header                  2704 non-null   object
dtypes: float64(27), int64(1), object(3)
memory usage: 1.2+ MB

In [13]:
data_df = data_df.dropna()

In [14]:
#Create percentage columns for the type of tourism.
data_df["Personal Percentage"] = data_df.apply(lambda row: (row.Personal/(row.Personal+row.Business))*100, axis = 1)
data_df["Business Percentage"] = data_df.apply(lambda row: (row.Business/(row.Personal+row.Business))*100, axis = 1)
data_df.head()

,Country,Year,Personal,Business,Total,Africa,Americas,East Asia and Pacific,Europe,Middle East,...,Population 15-64,Population 65+,Population Total,Population Urban,Region,Tourism Inbound,Tourism Outbound,Header,Personal Percentage,Business Percentage
667,albania,2000,218.0,77.0,295.0,0.2,14.0,2.0,295.0,1.0,...,0.628,0.068,3089027.0,0.417,Europe,3.980000e+08,2.900000e+08,Data,73.898305,26.101695
669,angola,2000,46.0,5.0,51.0,8.0,8.0,3.0,31.0,0.0,...,0.499,0.025,13924930.0,0.324,Africa,3.400000e+07,1.460000e+08,Data,90.196078,9.803922
671,armenia,2000,41.0,4.0,45.0,0.0,8.0,1.0,25.0,2.0,...,0.641,0.100,3076098.0,0.647,Asia,5.200000e+07,5.600000e+07,Data,91.111111,8.888889
673,australia,2000,4080.0,851.0,4931.0,79.0,621.0,2912.0,1212.0,35.0,...,0.669,0.124,19153000.0,0.872,Oceania,1.301600e+10,8.780000e+09,Data,82.741837,17.258163
674,azerbaijan,2000,75.0,606.0,681.0,0.0,0.0,0.0,359.0,0.0,...,0.633,0.056,8048600.0,0.514,Asia,6.800000e+07,1.380000e+08,Data,11.013216,88.986784

In [15]:
data_df.dtypes

Country                    object
Year                        int64
Personal                  float64
Business                  float64
Total                     float64
Africa                    float64
Americas                  float64
East Asia and Pacific     float64
Europe                    float64
Middle East               float64
South Asia                float64
Other not Classified      float64
Birth Rate                float64
GDP                       float64
Health Exp % GDP          float64
Health Exp/Capita         float64
Infant Mortality Rate     float64
Internet Usage            float64
Life Expectancy Female    float64
Life Expectancy Male      float64
Mobile Phone Usage        float64
Number of Records         float64
Population 0-14           float64
Population 15-64          float64
Population 65+            float64
Population Total          float64
Population Urban          float64
Region                     object
Tourism Inbound           float64
Tourism Outbound          float64
Header                     object
Personal Percentage       float64
Business Percentage       float64
dtype: object

In [16]:
def tourism_type(x):
    if x >= 85:
        return "Personal"
    else:
        return "Business"

In [17]:
data_df["Higher Tourism Percentage"] = data_df["Personal Percentage"].apply(tourism_type)
data_df.head()

,Country,Year,Personal,Business,Total,Africa,Americas,East Asia and Pacific,Europe,Middle East,...,Population 65+,Population Total,Population Urban,Region,Tourism Inbound,Tourism Outbound,Header,Personal Percentage,Business Percentage,Higher Tourism Percentage
667,albania,2000,218.0,77.0,295.0,0.2,14.0,2.0,295.0,1.0,...,0.068,3089027.0,0.417,Europe,3.980000e+08,2.900000e+08,Data,73.898305,26.101695,Business
669,angola,2000,46.0,5.0,51.0,8.0,8.0,3.0,31.0,0.0,...,0.025,13924930.0,0.324,Africa,3.400000e+07,1.460000e+08,Data,90.196078,9.803922,Personal
671,armenia,2000,41.0,4.0,45.0,0.0,8.0,1.0,25.0,2.0,...,0.100,3076098.0,0.647,Asia,5.200000e+07,5.600000e+07,Data,91.111111,8.888889,Personal
673,australia,2000,4080.0,851.0,4931.0,79.0,621.0,2912.0,1212.0,35.0,...,0.124,19153000.0,0.872,Oceania,1.301600e+10,8.780000e+09,Data,82.741837,17.258163,Business
674,azerbaijan,2000,75.0,606.0,681.0,0.0,0.0,0.0,359.0,0.0,...,0.056,8048600.0,0.514,Asia,6.800000e+07,1.380000e+08,Data,11.013216,88.986784,Business

In [18]:
# pandas count unique values ascending:
data_df['Higher Tourism Percentage'].value_counts(ascending=True)

Personal    605
Business    664
Name: Higher Tourism Percentage, dtype: int64

In [19]:
data_df = data_df.drop(["Region", "Header", "Country", "Year", "Total"], axis=1)

In [20]:
#Seperate the feature X from the target y
y = data_df['Higher Tourism Percentage']
X = data_df.drop(columns=['Higher Tourism Percentage', 'Personal Percentage', 'Business Percentage'])

In [21]:
#Split, train, and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2, stratify = y)

X_train.shape

(951, 26)

In [22]:
from sklearn.preprocessing import StandardScaler

#Create a StandardScaler instances
scaler = StandardScaler()

#Fit
X_scaler = scaler.fit(X_train)

#Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
#Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

In [24]:
#Fit (train) or model using the training data
classifier.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [25]:
#Predictions
y_pred = classifier.predict(X_test_scaled)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

  Prediction    Actual
0   Business  Business
1   Personal  Personal
2   Personal  Personal
3   Personal  Personal
4   Business  Business

In [26]:
#Accuracy score
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8710691823899371

In [27]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[141  25]
 [ 16 136]]

In [28]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

    Business       0.90      0.85      0.87       166
    Personal       0.84      0.89      0.87       152

    accuracy                           0.87       318
   macro avg       0.87      0.87      0.87       318
weighted avg       0.87      0.87      0.87       318

In [36]:
y1 = data_df['Personal Percentage']
X1 = data_df.drop(columns=['Higher Tourism Percentage', 'Personal Percentage'])

In [37]:
#Split, train, and test
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state = 2, stratify = y)

X1_train.shape

(951, 27)

In [38]:
#Linear Regression
import numpy as np
from sklearn.linear_model import LinearRegression

In [39]:
LR = LinearRegression()

In [40]:
LR.fit(X1_train, y1_train)

LinearRegression()

In [42]:
y_predictions = LR.predict(X1_test)
y_predictions

array([ 73.89830499,  88.82235518,  96.39344321,  93.36052229,
        71.29745546,  72.60246751,  63.05732462,  78.26641175,
        66.26466218,  86.7647062 ,  78.97971734,  69.7674421 ,
        92.25092291,  79.24865776,  95.53822444,  72.8051394 ,
        82.45614053,  78.43137262,  39.99999913,  65.51724118,
        72.97513968,  93.54354393,  87.65862977,  96.92550287,
        87.09677445,  80.54968308,  72.68722478,  49.77375498,
        82.24299092,  82.99041421,  90.89430939,  84.71841306,
        93.984515  ,  71.19999994,  92.87974725,  62.06896519,
        62.58073205,  87.01399702,  94.93575251,  88.02336936,
       100.00000048,  82.43004391,  90.03759427,  94.64099936,
        95.45454591,  70.43235686,  72.41379322,  70.15638558,
        74.53703674,  70.50359599,  53.90390333,  74.26523109,
        61.18299422,  86.18559985,  45.95744618,  74.56140324,
        80.99667779,  86.84946859,  92.51764741,  79.85041801,
        70.40303255,  76.03988512,  71.73333268,  82.833046  ,
        71.05263146,  85.50724652,  72.12643578,  87.91946353,
        96.37053356,  80.05181361,  95.93710925,  76.28124156,
        54.57516291,  95.67117189,  51.09717817,  95.5095554 ,
        93.33333376,  93.4303297 ,  96.001111  ,  98.80478135,
        96.39175305,  86.92152939,  76.2777241 ,  75.20325209,
        67.53731319,  91.40722232,  85.76349041,  63.55353054,
        93.88429792,  83.40573866,  92.30769269,  93.3760689 ,
        82.14285735,  92.03049234,  85.42928437,  94.49706423,
        97.43589791,  80.11653318,  48.05491925,  54.74452495,
        66.50036678,  80.68459666,  85.91549329,  97.22757604,
        64.37455327,  77.9926897 ,  88.58302613,  83.05084758,
        82.76359165,  71.89555545,  79.30871238,  58.72331703,
        85.25179877,  96.74157338,  75.48387395,  92.11009215,
        90.66534294,  92.00000037,  66.12903182,  38.30227643,
        93.96551765,  32.69230656,  94.48763293,  64.04243431,
        93.05760749,  93.04054092,  74.59999983,  80.00000012,
       100.00000051,  36.81204479,  65.39035317,  81.2500001 ,
        53.3132526 ,  91.75347253,  76.66629738,  62.18236146,
        45.76687042,  79.83870968,  47.91666598,  96.43208119,
        72.29050266,  62.83322996,  95.2500003 ,  90.90909124,
        92.89280005,  80.22530689,  85.61771807,  78.77859675,
        94.43269951,  59.12408723,  53.61216573,  84.46461042,
        86.10097922,  93.75864784,  95.85792822,  83.80167182,
       100.00000039,  53.97923807,  60.79999955,  65.43062171,
        92.26190516,  88.09164639,  84.84398236,  69.19785754,
        97.07495489,  87.44019161,  81.54506454,  88.96247271,
        73.2426306 ,  70.90332245,  90.31412089,  56.01750508,
        64.28039877,  84.22939085,  79.75460138,  79.87421388,
         7.07433787,  93.15873903,  88.59730949,  81.43236082,
        73.6       ,  95.67507662,  80.00000028,  81.3561806 ,
        84.92706682,  83.57487933,  76.21440471,  83.60483456,
        88.31478558,  95.18978176,  82.5266613 ,  92.30769272,
        96.07621028,  87.54752874,  97.39985992,  94.21052669,
        90.54726341,  82.48847937,  76.12817976,  90.0492801 ,
        63.12169306,  86.03814906,  93.47336878,  88.42364565,
        72.13114766,  67.36401647,  88.84425589,  74.38386849,
        83.58208985,  89.95535703,  49.99999939,  92.04180095,
        89.91798663,  89.23611142,  91.31782976,  86.65900776,
        63.31360921,  86.84931527,  82.38628148,  65.52440208,
        59.87654275,  71.33550473,  87.95091678,  94.13854394,
        91.9968464 ,  74.52150994,  59.01639296,  76.53076337,
        44.70338899,  86.60744808,  96.10477576,  85.52062268,
        96.06325765,  86.49046256,  73.73383023,  96.13613139,
        56.24999956,  92.46088246,  82.97218754,  76.86567161,
        94.42302616,  94.48545415,  88.83253721,  37.03703602,
        75.19821257,  90.77056534,  90.27019449,  49.86522852,
        95.45392934,  57.39231687,  89.02070954,  77.46823056,
        96.10371037, 100.00000047,  97.09543615,  80.26214889,
        89.40496932,  86.22513767,  93.09710111,  89.35371606,
        68.99736068,  65.36550744,  44.35483792,  86.93759087,
        84.23772634,  54.54545407,  80.00000004,  86.66823128,
        80.44871827,  89.92147832,  91.11111144,  81.52270398,
        63.35600207,  95.47817041,  87.81362044,  90.69325768,
        86.76470613,  89.78102222,  56.49779688,  90.23255846,
        92.8082173 ,  49.83089025,  88.24908132,  87.27272728,
        54.78723353,  79.29165947,  86.99260509,  95.14170085,
        45.37444865,  87.59034518,  86.17975774,  76.04669779,
        58.04877998,  86.88524615,  75.5102004 ,  81.30841131,
        88.32998013,  72.72120139,  89.89547066,  48.33333266,
        85.64269501,  90.76701367,  37.9850007 ,  75.88978182,
        77.50832032,  90.39126561, 100.00000048,  76.96793005,
        97.61958341,  67.49079432,  86.68942016,  88.08158092,
        51.28805565,  86.54797252,  80.86419755,  93.30576567,
        95.12522405,  94.73684257])

In [49]:
from sklearn import metrics
#Root Mean Square Error (RMSE)
accuracy_regression = print(np.sqrt(metrics.mean_squared_error(y1_test, y_predictions)))

8.024263572952747e-07